td,
tr {
  border: 1px solid black;
  margin: 2px;
  padding: 5px;
  width: 20rem;
}
li {
  width: 40rem;
}
.maindiv{
  display: grid ;
  grid-template-columns: repeat(3,1fr) ;
  grid-gap: 20px ;
  /* border: 1px solid red; */
}
.button{
  background-image: linear-gradient(to right, red , rgb(14, 14, 13));
  /* height: ; */
  padding: 2%;
  border-radius: 5px;
}
.button:hover{
  background-image: linear-gradient(to right, red , yellow);
  font-weight: bold;
}
/* .img-details{
  border-radius: 10px;
} */
.map_item{
  height: 48px;
font-size: 30px;
font-weight: bold;
margin-bottom: 10px;
background-image: linear-gradient(to right, red , yellow);
border-radius: 5px;
/* cursor: pointer; */
}
.map_item:hover{
  background-image: linear-gradient(to right, rgb(102, 255, 0) , rgb(8, 8, 8));
  font-family:cursive;
}
.p_div{
    margin: auto;
    width: 90%;
    height:auto;
    text-align: center;
}
select{
  color: rgb(10, 10, 10);
}
.Filterdiv{

 margin-left: 70%;
}
.div{
  transition-property: none;
}
.selectfilter{
  background-image: linear-gradient(to right, red , yellow);
  border-radius: 10px;
}
.selectsort{
  background-image: linear-gradient(to right, red , yellow);
  border-radius: 10px;
}
.selectsort:hover{
  background-image: linear-gradient(to right, red , rgb(66, 9, 235));
  font-weight: bold;
}
.selectfilter:hover{
  background-image: linear-gradient(to right, red , rgb(70, 6, 230));
  font-weight: bold;
}
.nav{
  position: sticky;
  top: 0;
  background-color: black;
}
.hover:hover{
  font-weight: bold;
  font-size: medium;
}

